.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.wip-container {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  text-align: center;
  width: 50%; /* Ajustez la largeur selon vos besoins */
  margin-right: 20px; /* Marge à droite pour l'équilibre */
}

.wip-gif {
  margin-left: 25%;
  width: 50%;
  height: auto;
}

.wip-img {
  margin-left: 35%;
  width: 25%;
  height: auto;
}

@font-face {
  font-family: "Goudy";   /*Can be any text*/
  src: local("GoudyBookletter1911"),
    url("./fonts/GoudyBookletter1911.otf") format("opentype");
}

#navbar {
  font-family: 'Goudy', sans-serif;
  font-size: 1.25em;
  justify-content: end;
}

.logo-container {
  margin-right: auto; 
}